   *{
    font-family: 'Stylish', sans-serif;
   }

   /* :root {
    --background-color: #fdfdf7;
    --header-color: #f9f8e6;
    --font-color: #2e2e2e;
    --mode-button-color: #0f0f0f;
    --mode-button-icon: #ffffff;
  }
   */
  body {
    margin-top:20px;
    margin-bottom:20px;
    background-color:var(--background-color);
    --duration: 0.5s;
    --timing: ease;
    transition:
    color var(--duration) var(--timing),
    background-color var(--duration) var(--timing);
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  :root{
    --background-color: #fdfdf7;
    --header-color: #f9f8e6;
    --font-color: #2e2e2e;
    --mode-button-color: #0f0f0f;
    --mode-button-icon: #ffffff;
  }

  @media (prefers-color-scheme: dark){
    :root{
      --background-color:#212121;
      --header-color:#0f0f0f;
      --font-color:white;
      --mode-button-color:white;
      --mode-button-icon:#ff8b8b;
    }
  }

  body[data-theme="light"] {
    --background-color: #fdfdf7;
    --header-color: #f9f8e6;
    --font-color: #2e2e2e;
    --mode-button-color: #0f0f0f;
    --mode-button-icon: #ffffff;

  }
  body[data-theme="dark"] {
    --background-color:#212121;
    --header-color:#0f0f0f;
    --font-color:white;
    --mode-button-color:white;
    --mode-button-icon:#ff8b8b;
  }

  .Header{
    text-align:center;
    font-size:24px;
    background-color:var(--header-color);
    font-weight:bold;
  }

  .Header img{
    max-width: 300px;
    height: auto;
    cursor:pointer;
  }

  .Header img:hover{
    transform:scale(1.04)
  }

  .Header p{
    color:var(--font-color);
    position:absolute;
    left:50%;
    opacity:0.85;
  }
  
  #App {
    margin: 0 auto;
    max-width: 1200px;
    column-gap: 1.5em;
    border: 50px solid transparent;
    border-radius:30px;
    background-image: linear-gradient(#fff, #fff), 
    linear-gradient(180deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;  
  }

  .SearchSection{
    width:100%;
    background-color:var(--header-color);;
    border-bottom: 1px solid #ff8b8b;
  }

  .SearchSection .Search{
    display:flex;
  }
  
  .SearchInput {
    width: 100%;
    font-size: 3.5vh;
    font-weight:bold;
    padding: 10px;
    text-align:center;
    color: #ff8b8b;
    padding:30px;
    border:none;
    background-color:var(--background-color);
  }

  .SearchInput::placeholder{
    color: #ff8b8b;
    font-size: 3.5vh;
  }
  
  .SearchInput:focus{
    outline:none;
  }

  .SearchHistory ul{
    padding: 0 10px 0 10px;
    list-style:none;
    display:flex;
    justify-content:center;
  }

  .SearchHistory li{
    display:flex;
    padding: 0 10px 0 10px;
    width:150px;
    height:50px;
    background-color:white;
    margin-left:20px;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    opacity:0.65;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-size:18px;
    cursor:pointer;
    transition: all 50ms ease-in;
  }

  .SearchHistory .keyword{
    width:90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .SearchHistory .delete{
    font-size:18px;
    margin-left: 10px;
    cursor:pointer;
    transition: all 100ms ease-in;
    
  }

  .SearchHistory .delete:hover{
    transform : scale(1.3);
  }

  .SearchHistory li:hover{
    transform : scale(1.05);
  }

  .SearchHistory li:first-child{
    margin-left:0;
  }

  .RandomButton{
    position:fixed;
    z-index:3;
    right:50px;;
    bottom:50px;
    width:120px;
    height:120px;
    border-radius:50%;
    cursor:pointer;
    background-color:var(--header-color);
    border: 1px solid rgba(255, 139, 139, 0.4);
    box-shadow: rgba(255, 139, 139, 0.4) 5px 5px, rgba(255, 139, 139, 0.3) 10px 10px, rgba(255, 139, 139, 0.2) 15px 15px, rgba(255, 139, 139, 0.1) 20px 20px, rgba(255, 139, 139, 0.05) 25px 25px;
    color:var(--font-color);
  }

  .RandomButton img{
    position:fixed;
    right:47px;;
    bottom:47px;
    width:120px;
    border-radius:50%;
  }

  .RandomButton span{
    position:fixed;
    bottom:175px;
    right:70px;
    font-size:24px;
    font-weight:bold;
    color:var(--font-color);
    opacity:0.9;
  }

  .SearchResult {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    background-color:var(--background-color);
    padding:30px;
    text-align:center;
    color: var(--font-color);
  }
  
  .SearchResult img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:5px;
  }

  .CatGif{
    object-fit: contain !important;
  }
  
  .SearchResult .item {
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    cursor:pointer;
  }

  .SearchResult .item:hover {
    opacity:0.8
  }

  .Loading{
    z-index: 3;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .LoadingSpinner,
  .LoadingSpinner:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
  }
  .LoadingSpinner {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 2em solid rgba(255,139,139, 0.8);
    border-right: 2em solid rgba(255,139,139, 0.8);
    border-bottom: 2em solid rgba(255,139,139, 0.8);
    border-left: 2em solid var(--background-color);
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }


  .LoadingMessage{
    font-size:5vh;
    font-weight:bold;
    opacity:0.9;
    margin:0;
    padding-bottom:100px;
    color:white;
    text-shadow: 2px 2px 2px gray; 
  }
  

  .ImageInfo {
    animation : fadein 1s forwards;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .ImageInfo .invisible{
    animation : fadeout 0.01s forwards;
  }
  
  .ImageInfo .title {
    display: flex;
    justify-content: space-between;
  }
  
  .ImageInfo .title,
  .ImageInfo .description {
    padding: 5px;
  }
  
  .ImageInfo .content-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size:1.5vh;
  }
  
  .ImageInfo .content-wrapper img {
    width: 100%;
  }

  .mode-button-wrapper{
    z-index: 1;
    position: fixed;
    top:1.3%;
    left: 0;
    width: 100px;
    height: 70px;
    background-color: var(--mode-button-color);
    border-radius: 0 10em 10em 0;;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor:pointer;
    font-size: 48px;
    color:var(--mode-button-icon);
    display:flex;
    justify-content:center;
    align-items:center;
  }
    

  .mode-button{
    display:none;
  }

.label i{
  cursor:pointer;
}
 

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeout {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  

  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }



  @media screen and (max-width:768px){
    .ImageInfo .content-wrapper{
      width:95%;
    }
  }

  @media screen and (max-width:415px){
    body{
      margin:0
    }
      .SearchResult{
        display:flex !important;
        flex-direction:column !important;
    }
    #App{
      border-width : 20px 0px 0px 0px;
      border-color: #ff8b8b;
      border-radius: 0;
      box-shadow:none;
    }
    .RandomButton{
      right:20px;
      bottom:20px;
      width:60px;
      height:70px;
    }

    .RandomButton:after{
      content:'click me!'
    }

    .RandomButton img, span{
      display:none;
    }

    .SearchHistory{
      display:none;
    }

  }

